@use 'reset';
@use 'vars';

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: vars.$black;

  .header {
    width: 100%;
    height: 500px;

    // IMAGE
    background-image: url("../photos/bannerMaVilleAuVert.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    // TEXT
    text-align: center;
    font-family: vars.$headerFont;

    // FLEXBOX
    display: flex;
    flex-direction: column;
    justify-content: center;

    .headerTitle {
      color: white;
      letter-spacing: 0.5rem;
      text-shadow: vars.$mainColorDark 0 0 8px;
    }

    .headerLine1 {
      font-size: 3rem;
    }

    .headerLine2 {
      font-size: 6rem;
    }
  }

  .mainContainer {
    // FLEXBOX
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;

    .mainContainerTitle {
      text-align: center;
      font-family: vars.$headerFont;
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
      padding-bottom: 2rem;
    }

    .mainContainerForm {
      width: 100%;

      .formBlock {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .formBlockTitle {
          font-family: vars.$headerFont;
          font-size: 1.2rem;
          padding: 1rem;
          background-color: rgb(vars.$lighterGrey, 0.7);
          border-radius: 0 1rem 1rem 1rem;
          width: 27%;

          // border-bottom: 2px solid vars.$highlightLight;
        }

        .formBlockRadio {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: 67%;

          * {
            box-sizing: border-box;
          }

          .radioButtonWrapper {
            width: 100%;
            font-family: vars.$contentFont;
            margin-top: 4px;
            * {
              cursor: pointer;
            }

            .radioButton {
              display: none;
            }

            .radioButtonOption {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              flex-wrap: wrap;
              align-items: center;
              margin-bottom: 1rem;
              padding: 1rem;
              box-shadow: 0 0 5px vars.$mediumGrey;
              border-radius: 0 1rem 1rem 1rem;
              transition: box-shadow 0.3s ease;
              transition: background-color 0.3s ease;

              &:hover {
                box-shadow: inset 0 0 5px vars.$mediumGrey;
                border: 0;
              }

              &:focus {
                border: 1px solid rgb(vars.$mainColorLight, 1);
                outline: 2px solid vars.$mainColorLight;
              }

              .radioButtonLabel {
                padding-left: 0.5rem;
                font-size: 1rem;
                width: 80%;
              }

              .radioDot {
                height: 20px;
                width: 20px;
                background: vars.$mainColorLight;
                border-radius: 50%;
                position: relative;

                &::before {
                  position: absolute;
                  content: "";
                  top: 4px;
                  left: 4px;
                  width: 12px;
                  height: 12px;
                  background: vars.$mainColorLight;
                  border-radius: 50%;
                  opacity: 0;
                  transform: scale(1.5);
                  transition: all 0.3s ease;
                }
              }

              .optionsMenu {
                margin-top: 1rem;
                width: 100%;
                align-self: stretch;

                .formBlockSelect {
                  width: 100%;
                  margin: auto;
                  font-size: 0.9rem;
                  font-family: vars.$contentFont;
                  border: transparent;
                  border-radius: 1rem;
                  padding: 0.5rem;
                  box-shadow: 0 0 5px rgb(vars.$mainColorLight, 0.8);

                  &:focus {
                    border-radius: 1rem;
                    outline: 2px solid vars.$mainColorLight;
                  }
                }
              }
            }

            #regionOptions,
            #departmentOptions,
            #uuOptions {
              display: none;
            }

            #locationTouteFrance:checked ~ .locationTouteFrance,
            #locationByRegion:checked ~ .locationByRegion,
            #locationByDepartment:checked ~ .locationByDepartment,
            #typeRurale:checked ~ .typeRurale,
            #typeUrbaine:checked ~ .typeUrbaine {
              background-color: rgb(vars.$mainColorLight, 0.3);
              border: 1px solid transparent;
              box-shadow: inset 0 0 5px rgb(vars.$mainColorLight, 0.8);

              .radioDot {
                background: vars.$white;
                box-shadow: 0 0 10px rgb(vars.$mainColorLight, 1);

                &::before {
                  opacity: 1;
                  transform: scale(1);
                }
              }

              #regionOptions,
              #departmentOptions {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
