@use 'reset';
@use 'vars';

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: vars.$black;

  .header {
    width: 100%;
    height: 500px;

    // IMAGE
    background-image: url("../photos/bannerMaVilleAuVert.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    // TEXT
    text-align: center;
    font-family: vars.$headerFont;

    // FLEXBOX
    display: flex;
    flex-direction: column;
    justify-content: center;

    .headerTitle {
      color: white;
      letter-spacing: 0.5rem;
      text-shadow: vars.$mainColorDark 0 0 8px;
    }

    .headerLine1 {
      font-size: 3rem;
    }

    .headerLine2 {
      font-size: 6rem;
    }
  }

  .mainContainer {
    // FLEXBOX
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    .mainContainerTitle {
      text-align: center;
      font-family: vars.$headerFont;
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
      padding-bottom: 2rem;
    }

    .mainContainerForm {
      .formBlock {
        padding-bottom: 1rem;
        
        .formBlockTitle {
          font-family: vars.$headerFont;
          font-size: 1.2rem;
          padding-bottom: 1rem;
          padding-top: 1rem;
          border-bottom: 2px solid vars.$highlightLight;
        }
      }
    }
  }
}
