@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// Main Color
$mainColorLight: #CCD5C4;
$mainColor: #889E75;
$mainColorDark: #586849;

// Highlight Color
$highlightColor: #bf9004;
$highlightLight: #f2bd1d;

// Negative Color
$negativeColor: #f15057;
$negativeColorDark: #cc424c;
$negativeColorDarker: #a02b3a;

// Neutral color
$white: white;
$whitish: #f8f9f4;
$lighterGrey: #ebede6;
$mediumGrey: #cfd1c9;
$darkerGrey: #96958a;
$blackish: #4d4f4b;
$black: #070c06;

// Fonts
$headerFont: "Libre Baskerville", serif;
$contentFont: "Open Sans", sans-serif;

// Shadows
$dropShadow: 0 0 10px $whitish;
$shadow-in: inset 0 0 5px rgb($mainColorDark, 1);
$shadow-out : 0 0 5px $darkerGrey;

// Radius
//$radius: 50%;
$radius: 2rem;

