@use 'reset';
@use 'vars';

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: vars.$black;
  position: relative;
  background-color: transparent;

  &:before {
    content: "";
    background-image: url("../photos/background-paper.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -5;
  }

  &:after {
    content: "";
    background-image: url("../photos/shadowBle.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 200px;
    position: absolute;
    z-index: -2;
  }

  .header {
    width: 100%;
    height: 500px;
    position: relative;

    // IMAGE
    background-image: url("../photos/bannerMaVilleAuVert.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    // TEXT
    text-align: center;
    font-family: vars.$headerFont;

    // FLEXBOX
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 700px) {
      height: 400px;
    }

    .headerTitle {
      color: white;
      letter-spacing: 0.5rem;
      text-shadow: vars.$blackish 0 0 5px;

      @media screen and (max-width: 700px) {
        width: 90%;
      }
    }

    .headerLine1 {
      font-size: 3rem;

      @media screen and (max-width: 700px) {
        font-size: 2.5rem;
      }
    }

    .headerLine2 {
      font-size: 6rem;

      @media screen and (max-width: 700px) {
        font-size: 5rem;
      }
    }
  }

  .mainContainer {
    // FLEXBOX
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    &:after {
      content: "";
      background-image: linear-gradient(vars.$white, transparent);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: -4;
    }

    .headerSubtitle {
      box-sizing: border-box;
      width: 700px;
      line-height: 1.6;
      font-size: 1.2rem;
      font-style: italic;
      color: vars.$blackish;
      text-align: center;
      margin-bottom: 4rem;

      @media screen and (max-width: 700px) {
        width: 90%;
      }
    }

    .mainContainerTitle {
      text-align: center;
      font-family: vars.$headerFont;
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
      padding-bottom: 2rem;
    }

    //
    // SEARCH FORM
    //
    .mainContainerForm {
      width: 700px;

      @media screen and (max-width: 700px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      // FORM SECTION
      .formBlock {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;

        @media screen and (max-width: 700px) {
          flex-direction: column;
          margin-bottom: 0.5rem;
          margin-left: auto;
          margin-right: auto;
        }

        .formBlockHeader {
          font-family: vars.$headerFont;
          font-size: 1.2rem;
          padding: 1rem;
          background-color: rgb(vars.$mainColor, 0.6);
          color: vars.$white;
          border-radius: 0 1rem 1rem 1rem;
          width: 27%;

          @media screen and (max-width: 700px) {
            width: 100%;
            margin-bottom: 0.5rem;
            margin: auto;
            box-sizing: border-box;
          }

          .formBlockText {
            font-size: 0.8rem;
            padding-top: 1rem;
            color: vars.$white;
            line-height: 1.2;
            width: 100%;
          }
        }

        // FORM SECTION WITH RADIO BUTTONS
        .formBlockRadio {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }

        // FORM SECTION WITH SELECT INPUT
        .formBlockSelect {
          cursor: pointer;
          border: 1px solid transparent;
          margin: 0.5rem;
        }

        .formBlockText {
          .formBlockSelect {
            background-color: rgb(vars.$mainColorLight, 0.3);
            box-shadow: inset 0 0 5px rgb(vars.$mainColorLight, 0.8);
          }
        }

        .formBlockRadio {
          .formBlockSelect {
            background-color: vars.$white;
            box-shadow: inset 0 0 5px rgb(vars.$mediumGrey, 0.5);
          }
        }

        //
        // RADIO INPUTS
        //
        .radioButtonWrapper {
          width: 100%;
          margin-top: 4px;
          margin-bottom: 4px;
          position: relative;
          * {
            cursor: pointer;
          }

          .radioButton {
            display: none;
          }

          .radioButtonOption {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0;
            }

            &:hover {
              box-shadow: inset 0 0 5px vars.$mediumGrey;
              border: 0;
            }

            &:focus {
              border: 1px solid rgb(vars.$mainColorLight, 1);
              outline: 2px solid vars.$mainColorLight;
            }

            .radioButtonLabel {
              padding-left: 0.5rem;
              font-size: 1rem;
              width: 80%;
            }

            .radioDot {
              height: 20px;
              width: 20px;
              background: rgb(vars.$mainColor, 0.6);
              border-radius: 50%;
              position: relative;

              &::before {
                position: absolute;
                content: "";
                top: 4px;
                left: 4px;
                width: 12px;
                height: 12px;
                background: rgb(vars.$mainColor, 0.6);
                border-radius: 50%;
                opacity: 0;
                transform: scale(1.5);
                transition: all 0.3s ease;
              }
            }

            .optionsMenu {
              margin-top: 1rem;
              width: 100%;
              align-self: stretch;

              .formBlockSelect {
                width: 100%;
                margin: auto;
                box-shadow: 0 0 5px rgb(vars.$mainColorLight, 0.8);
              }
            }
          }

          // HANDLING DISPLAY DEPENDING ON CHECK STATUS
          #regionOptions,
          #departmentOptions,
          #uuOptions,
          #schoolOptions {
            display: none;
          }

          #locationTouteFrance:checked ~ .locationTouteFrance,
          #locationByRegion:checked ~ .locationByRegion,
          #locationByDepartment:checked ~ .locationByDepartment,
          #typeRurale:checked ~ .typeRurale,
          #typeUrbaine:checked ~ .typeUrbaine,
          #withSchool:checked ~ .withSchool,
          #noSchool:checked ~ .noSchool {
            background-color: rgb(vars.$mainColorLight, 0.3);
            border: 1px solid transparent;
            box-shadow: inset 0 0 5px rgb(vars.$mainColorLight, 0.6);

            .radioDot {
              background: vars.$white;
              box-shadow: 0 0 10px rgb(vars.$mainColorLight, 1);

              &::before {
                opacity: 1;
                transform: scale(1);
              }
            }

            #regionOptions,
            #departmentOptions,
            #uuOptions,
            #schoolOptions {
              display: block;
            }

            .toolTip {
              position: absolute;
              top: 30px;
              right: 15px;
            }
          }
        }

        .selectOption {
          @media screen and (max-width: 700px) {
            margin-top: 0.5rem;
          }
        }

        .radioButtonOption,
        .selectOption {
          padding: 1rem;
          box-shadow: 0 0 5px vars.$mediumGrey;
          border-radius: 0 1rem 1rem 1rem;
          line-height: 1.6;
          transition: box-shadow 0.3s ease;
          transition: background-color 0.3s ease;

          .formBlockSelect {
            font-size: 0.9rem;
            color: vars.$blackish;
            font-family: vars.$contentFont;
            border: transparent;
            border-radius: 1rem;
            padding: 0.5rem;

            &:focus {
              border-radius: 1rem;
              outline: 2px solid vars.$mainColorLight;
            }
          }

          .toolTip {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translate(0, -50%);
            transition: all 0.3s ease;

            .toolTipIcon {
              color: rgb(vars.$mainColor, 0.6);
              height: 20px;
              width: 20px;
              cursor: pointer;
            }

            .toolTipBox {
              position: absolute;
              display: none;
            }

            &:hover {
              .toolTipBox {
                display: block;
                background-color: vars.$white;
                box-shadow: 0 0 5px vars.$mediumGrey;
                font-size: 0.8rem;
                bottom: 0;
                left: 0;
                padding: 1rem;
                margin: 1.5rem;
                border-radius: 0 1rem 1rem 1rem;

                @media screen and (max-width: 700px) {
                  transform: translate(-120%, 0);
                }

                span {
                  font-weight: bold;
                }
              }
            }
          }
        }

        //
        // CHECKBOX INPUTS
        //
        .optionsMenuCheckbox {
          padding-left: 1.5rem;
          display: flex;
          flex-direction: column;

          .checkboxWrapper {
            padding-bottom: 0.3rem;
            cursor: pointer;

            .checkboxInput {
              display: none;
            }

            .checkboxOption {
              display: flex;
              flex-direction: row;
              align-items: center;

              &:hover {
                .checkboxLabel {
                  text-decoration: underline vars.$mainColorLight 3px;
                  transition: all 0.3s ease-in-out;
                }
              }

              &:focus {
                border: 1px solid rgb(vars.$mainColorLight, 1);
                outline: 2px solid vars.$mainColorLight;
              }

              .checkBox {
                height: 20px;
                width: 20px;
                background: vars.$white;
                border-radius: 0.3rem;
                position: relative;

                &::before {
                  position: absolute;
                  content: "✓";
                  height: 22px;
                  width: 22px;
                  bottom: 2px;
                  left: 2px;
                  color: vars.$blackish;
                  opacity: 0;
                  transform: scale(1.5);
                  transition: all 0.3s ease;
                }
              }

              .checkboxLabel {
                padding-left: 0.5rem;
              }
            }

            #materSchool:checked ~ .materSchool,
            #primSchool:checked ~ .primSchool,
            #collSchool:checked ~ .collSchool,
            #lyceeSchool:checked ~ .lyceeSchool,
            #segpaSchool:checked ~ .segpaSchool {
              .checkBox {
                background: vars.$white;
                box-shadow: 0 0 5px rgb(vars.$mainColorLight, 0.8);

                &::before {
                  opacity: 1;
                  transform: scale(1);
                }
              }
            }
          }
        }

        //
        // ALL INPUTS
        //
        .formBlockRadio,
        .formBlockText {
          font-family: vars.$contentFont;
          width: 67%;

          @media screen and (max-width: 700px) {
            width: 100%;
          }

          * {
            box-sizing: border-box;
          }
        }
      }

      .formBlockSubmitButton {
        width: 100%;
        font-size: 1.2rem;
        font-family: vars.$headerFont;
        color: vars.$white;
        background-color: rgb(vars.$mainColor, 0.6);
        padding: 1rem;
        border: 0;
        border-radius: 0 1rem 1rem 1rem;
        margin: 2rem auto;

        &:hover {
          box-shadow: inset 0 0 5px rgb(vars.$mainColor, 1);
          transition: all 0.3s ease;
        }
      }
    }

    //
    // SEARCH RESULTS
    //

    #searchResults {
      .mainContainerTitle {
        @media screen and (max-width: 700px) {
          width: 90%;
          box-sizing: border-box;
          margin:auto;
        }
      }
    }
    .searchResultsOptions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;


      padding: 2rem;

      .mainContainerText {
        font-family: vars.$headerFont;
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem;
        background-color: rgb(vars.$mainColor, 0.6);
        color: vars.$white;
        border-radius: 0 1rem 1rem 1rem;
        margin: auto;

        @media screen and (max-width: 700px) {
          width: 100%;
          box-sizing: border-box;
        }
      }

      .searchResultsMenu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem;

        .searchResultsMenuElement {
          color: rgb(vars.$mainColor, 0.6);
          font-family: vars.$contentFont;
          font-size: 0.9rem;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

    #searchResultsContainer {
      width: 700px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      margin: auto;

      font-family: vars.$contentFont;
      font-size: 1rem;

      @media screen and (max-width: 700px) {
        width: 90%;
        align-items: center;
      }

      .townCard {
        width: 40%;
        box-shadow: 0 0 5px vars.$mediumGrey;
        border-radius: 0 1rem 1rem 1rem;
        line-height: 1.6;
        padding: 1rem;
        margin: 0.5rem;

        @media screen and (max-width: 700px) {
          width: 100%;
        }

        .townCardName {
          font-family: vars.$headerFont;
          font-size: 1.2rem;
          font-weight: bold;
          color: rgb(vars.$mainColor, 0.6);
          padding-bottom: 0.5rem;
        }

        .townCardElements {
          .townCardSection {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: stretch;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            .townCardIcon {
              color: rgb(vars.$mainColor, 0.6);
              height: 20px;
              width: 20px;
              padding: 0 0.5rem;
            }

            .townCardSectionRight {
              border-left: 1.5px solid rgb(vars.$mainColor, 0.6);
            }

            .townCardLocation,
            .townCardUU,
            .townCardPop,
            .townCardSchool {
              padding-left: 0.5rem;
            }

            .townCardRegion,
            .townCardDepartment,
            .townCardUU,
            .townCardPop,
            .townCardSchool,
            .townCardLocation {
              font-size: 0.9rem;
              color: vars.$blackish;
            }

            .townCardLocation {
              font-style: italic;

              display: flex;
              flex-direction: row;
              justify-content: flex-start;

              .townCardDepartment {
                padding-right: 0.5rem;
              }
            }
            .townCardSchool {
              .schoolList {
                padding-left: 0.5rem;
                list-style-type: none;
              }
            }
          }
        }
      }
    }
    .error {
      background-color: rgb(darkred, 0.15) !important;
    }
  }
  //
  // LOADER
  //
  // Credit : https://codepen.io/mrsahar
  //
  #loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    margin: -25px 0 0 -25px;
  }

  #loader span {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    -webkit-animation: loader 1s infinite ease-in-out;
    animation: loader 1s infinite ease-in-out;
  }

  #loader span:nth-child(1) {
    left: 0px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  #loader span:nth-child(2) {
    left: 15px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  #loader span:nth-child(3) {
    left: 30px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  #loader span:nth-child(4) {
    left: 45px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  @keyframes loader {
    0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      background: rgb(vars.$mainColorLight, 0.7);
    }
    25% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      background: rgb(vars.$mainColor, 0.4);
    }
    50% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      background: rgb(vars.$mainColorLight, 0.7);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      background: rgb(vars.$mainColor, 0.4);
    }
  }
  @-webkit-keyframes loader {
    0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      background: rgb(vars.$mainColorLight, 0.7);
    }
    25% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      background: rgb(vars.$mainColor, 0.4);
    }
    50% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      background: rgb(vars.$mainColorLight, 0.7);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      background: rgb(vars.$mainColor, 0.4);
    }
  }

  .searchInProgress {
    height: 50vh;
    position: relative;
    width: 100%;

    .searchText {
      font-family: vars.$headerFont;
      font-size: 1rem;
      text-align: center;
      margin: auto;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: 0.1rem;
      line-height: 1.4;
    }
  }

  .footer {
    position: relative;
    width: 100%;
    height: 150px;
    background-image: url("../photos/maVilleAuVert-footerVert.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;

    @media screen and (max-width: 700px) {
      height: 50px;
    }
  }

  .footerContainer {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 700px;
    height: 150px;
    padding-bottom: 2rem;
    z-index: 10;

    // TEXT
    text-align: center;
    font-family: vars.$headerFont;

    // FLEXBOX
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;

    @media screen and (max-width: 700px) {
      width: 90%;
      height: 50px;
      padding-bottom: 0.5rem;
    }

    .footerLink {
      color: vars.$white;
      text-decoration: none;
      cursor: pointer;
      z-index: 12;

      &:hover {
        text-decoration: underline vars.$mainColorLight 3px;
      }
    }
  }

  .modal {
    position: fixed;
    background-color: rgb(vars.$white, 0.7);
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 50;

    @media screen and (max-width: 700px) {
      margin: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      margin: auto;
    }

    .modalBox {
      width: 700px;
      margin: 10vh auto;
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-content: center;

      background: vars.$white;
      padding: 2rem;
      box-shadow: 0 0 5px vars.$mediumGrey;
      border-radius: 0 1rem 1rem 1rem;
      line-height: 1.6;

      @media screen and (max-width: 700px) {
        width: 90%;
        margin: auto;
        padding: 2rem 1rem;
      }

      .closeIcon {
        position: absolute;
        right: 15px;
        top: 15px;
        height: 20px;
        width: 20px;
        cursor: pointer;

        @media screen and (max-width: 700px) {
          right: 20px;
          top: 20px;
          height: 25px;
          width: 25px;
        }
      }

      .modalSection {
        padding-top: 1rem;
        padding-bottom: 1rem;

        .modalTitle {
          color: rgb(vars.$mainColor, 0.6);
          font-family: vars.$headerFont;
          //font-weight: bold;
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
          padding-bottom: 1rem;
        }

        .modalText {
          font-size: 0.9rem;
          color: vars.$blackish;
          font-family: vars.$contentFont;

          a {
            color: rgb(vars.$mainColor, 0.8);
            text-decoration: none;

            &:hover {
              text-decoration: underline rgb(vars.$mainColor, 0.6) 3px;
              transition: all 0.3s ease-in-out;
            }
          }

          li {
            margin-left: 2rem;
            list-style-type: circle;
          }
        }
      }
    }
  }

  .isInvisible {
    display: none;
  }
}
